<%# locals: (presenter:, size: :lg) %>
<% sizes = avatar_size_classes(size) %>
<% if presenter.avatar_url.present? %>
  <%= image_tag presenter.avatar_url, alt: "", class: "#{sizes[:box]} rounded-full shrink-0" %>
<% else %>
  <div class="<%= sizes[:box] %> rounded-full shrink-0 flex items-center justify-center text-white font-semibold <%= sizes[:text] %> <%= presenter.avatar_color_class %>"
       aria-hidden="true">
    <%= presenter.initials %>
  </div>
<% end %>
